.TripShowMainContainer {
  display: flex;
  justify-content: stretch; /* This will stretch the child elements to take the full width */
  color: #333;
  height: 100vh; /* This will make the container take the full viewport height */
  margin: 0;
  padding: 0;
}


.TripDetailsHalf, .ItineraryHalf {
  flex: 1; /* This ensures that each half takes up half the width of the container */
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: stretch; /* This will make the children take the full width */
  background: #fff; /* Use white for clean appearance */
  padding: 40px;
  border-radius: 8px; /* Rounded corners for a modern look */
  box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Soft shadow for depth */
}

.TripInfo {
  margin-bottom: 30px;
}



.TripLocation, .TripDate {
  font-size: 26px; /* Slightly larger */
  margin: 15px 0; /* More space between */
}

.TripButtonContainer {
  display: flex;
  justify-content: space-around; /* This will space the buttons evenly */
  margin-bottom: 30px;
}

.button, .buttonG, .clearButton {
  border: none;
  padding: 10px 20px;
  font-weight: 500; /* Slightly bolder text */
  border-radius: 5px; /* Subtle rounded corners */
  transition: all 0.3s ease;
}

.buttonG {
  font-size: 16px;
  color: #fff;
  background-color: gray;
  border: none;
  padding: 15px 30px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.2s ease-in-out;
  flex-grow: 1; /* This will make all buttons grow equally */
  margin: 0 10px; /* This adds a bit of margin between the buttons */
}
.buttonG:hover {
  background-color: rgb(125, 125, 125);
}

.button {
  font-size: 16px;
  color: #fff;
  background-color: #5f4b8b; /* A professional purple shade */
  border: none;
  padding: 15px 30px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.2s ease-in-out;
  flex-grow: 1; /* This will make all buttons grow equally */
  margin: 0 10px; /* This adds a bit of margin between the buttons */
}

.button:hover {
  background-color: #503d74; /* A darker shade of purple for hover effect */
}

.selectionContainer {
  margin-bottom: 30px;
}

.optionList {
  list-style: none;
  padding: 0;
}

.option {
  font-size: 16px;
  padding: 15px;
  border-bottom: 1px solid #eaeaea;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.option:hover {
  background-color: #f5f5f5;
}

.ItineraryHalf {
  background: #f0f0f0; /* Different background for contrast */
}

.intineraryH1 {
  font-size: 28px;
  margin-bottom: 20px;
}

.itineraryList {
  list-style: none;
  overflow-y: scroll;
  padding: 0;
}

.dayList + .dayList {
  margin-top: 15px;
}

.subHeader {
  font-size: 22px;
  color: #503d74; /* Adjusted color code to be valid */
  margin-bottom: 10px; /* Adjust the bottom margin if needed */
}


.pModalText {
  /* font-size: 20px;
  font-weight: 400; */
}
.selectHolder {
  
}
.modalLine {
  margin-bottom: 12px;
}
.dayPlanBox {
  min-height: 94px;
  width: 100%;
  margin-bottom: 30px;
  border: 1px solid #e0e0e0; /* Light border for definition */
  border-radius: 4px; /* Rounded corners */
  background-color: #f9f9f9; /* Slightly off-white background */
  padding: 10px;
}

.dayPlanHolder {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Distribute space */
  margin-bottom: 12px;
  padding: 5px;
  cursor: pointer; /* Indicate interactivity */
  transition: background-color 0.3s ease;
}

.dayPlanSave {
  font-size: 14px;
  color: #fff;
  /* margin: 0;
  margin-left: 30px; */
  margin: 0;
  padding: 4px;
  background-color: #6c63ff; /* A professional purple shade */
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.2s ease-in-out;
  flex-grow: 1; /* This will make all buttons grow equally */
}



.dayPlanDelete {
  font-size: 14px;
  color: #fff;
  margin: 0;
  padding: 4px;
  background-color: #8e7cb5; /* A professional purple shade */
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.2s ease-in-out;
  flex-grow: 1; /* This will make all buttons grow equally */
}

.dayPlanPlus:hover {
  background-color: rgba(95, 75, 139, 0.1); /* Faint purple on hover */
}

.dayPlanPlus {
  width: 100%;
  /* border: 1px solid blue; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0;
  padding-bottom: 4px;
  margin: 0;
  background: transparent;
  border: none;
  cursor: pointer;
  color: #9f91bc; /* Theme color */
  font-size: 16px;
}
.dayPlanPlusHolder {
  min-width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: center;
  /* border: 2px solid red; */
}

.dayPlanSave:hover {
  background-color: #564dc7); /* A darker shade of purple for hover effect */
}

.dayPlanTextHolder, .dayPlanInput {
  width: 100%;
  display: flex;
}

.dayPlanInput {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px;
  font-size: 14px;
}

.dayPlanH {
  display: flex;
  flex-direction: row;
  align-items: right;
  justify-content: right;
  min-width: 100px;
  /* border: 2px solid orange; */
}
.dayPlanH2 {
  display: flex;
  flex-direction: row;
  align-items: right;
  justify-content: right;
  min-width: 50px;
  /* border: 2px solid orange; */
}

.shareclearbuttonHolder {
  display: flex; /* Use flexbox to align buttons horizontally */
  justify-content: flex-end; /* Align buttons to the right */
  gap: 10px; /* Add space between buttons */
}


input[type="text"]{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  /* border: 1px solid red; */
  font-size: 14px;
  min-height: 20px;
  /* border: 2px solid orange; */
  padding: 10px;
  margin: 0;
}
.dayPlans {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  /* border: 1px solid red; */
  font-size: 16px;
  min-height: 20px;
  /* margin-bottom: 10px;  */
}

.dayPlanDeleteHolder {
  min-width: 14%;
  display: flex;
  flex-direction: row;
  margin-left: 4px;
  /* align-items: right; */
  /* justify-content: left; */
  /* border: 2px solid teal; */
}
.dayPlansEmpty {
  display: flex;
  flex-direction: row;
  align-items: left;
  justify-content: left;
  width: 100%;
  font-size: 16px;
  min-height: 20px;
}


.button:first-child {
  margin-left: 0;
}

.button:last-child {
  margin-right: 0;
}



.ItineraryTopBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 20px;
  /* border: 1px solid red; */
}

.clearButton {
  /* border: 2px solid red; */
  font-size: 16px;
  color: #fff;
  width: 150px;
  max-width: 150px;
  margin: 0;
  padding: 10px;
  background-color: #5f4b8b; /* A professional purple shade */
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.2s ease-in-out;
  flex-grow: 1; /* This will make all buttons grow equally */
}
.yourItinerary {
  /* border: 2px solid red; */
  width: 50%;
  font-size: 28px;
}
.option {
  display: flex;
  align-items: center; /* Align the icon and text */
  font-size: 16px;
  padding: 15px;
  border-bottom: 1px solid #eaeaea;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.option:hover, .option:focus {
  background-color: #f5f5f5;
}

.addIcon {
  margin-right: 10px;
  color: #5f4b8b; /* Use the same purple color for the icon */
  cursor: pointer;
}

.dayList {
  margin-top: 30px; /* Increase space between days */
  padding: 20px; /* Optional: Add padding if you want more space within each day's container */
  background: #ffffff; /* Optional: Add a background color for each day's container if you like */
  border-radius: 8px; /* Optional: Round corners for each day's container */
  box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Optional: Add shadow for depth */
}

.dayList:first-child {
  margin-top: 0; /* Remove the top margin for the first day */
}

.selectionContainer {
  max-height: 600px; /* Adjust the height as needed */
  overflow-y: auto;
}

.addIcon {
  margin-right: 20px; /* Adjust the space as needed */
  color: #5f4b8b; /* Optional: Match the icon color with your theme */
}

#profile-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 500px;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Increased shadow for more depth */
  border-radius: 8px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center children horizontally */
  justify-content: center; /* Ensure content is centered */
}

#date-select {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  font-size: 16px;
}

.modal-footer {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.modal-body {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modalLine {
  height: 2px;
  background-color: #eee;
  margin: 10px 0;
}

#profile-modal label {
  margin-bottom: 15px;
  font-weight: bold;
}



#profile-modal button {
  width: 300px; /* Adjust as needed */
  padding: 10px;
  margin-top: 15px;
  border: none;
  border-radius: 4px;
  background-color: #5f4b8b;
  color: white;
  cursor: pointer;
  font-weight: 400;
  transition: background-color 0.2s, transform 0.2s;
  text-align: center; /* Ensure text is centered */
}


#profile-modal button:hover {
  background-color: #463c61; /* Darker shade for hover */
  transform: translateY(-2px); /* Slight lift */
}

#profile-modal {
  z-index: 1050; /* Higher than most other elements */
}

.pModalText {
  font-size: 24px; /* Adjusted size for better readability */
  font-weight: 700; /* Bold font for emphasis */
  color: #333; /* Maintained dark color for contrast */
  background-color: ; /* Slightly darker to add depth */
  padding: 20px; /* Increased padding for a more spacious look */
  width: calc(100% - 40px); /* Adjust width to account for padding */
  border-bottom: .75px solid #ccc; /* Thicker border for clearer separation */
  margin-bottom: 20px; /* Increased space between header and content */
  border-radius: 5px 5px 0 0; /* Rounded corners at the top */
  text-align: center; /* Centered text */
  box-shadow: inset 0 -2px 4px -3px rgba(0, 0, 0, 0.2); /* Subtle inner shadow for depth */
}

/* Responsive Design for Modal */
@media (max-width: 600px) {
  #profile-modal {
    width: 80%;
    padding: 15px;
  }

  .modal-footer button {
    padding: 10px 15px; /* Smaller padding on smaller screens */
  }
}
