
.content-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    width: 100vw; 
    padding: 40px;
    background-color: #f5f3f7; 
}

.info-section {
    flex: 1;
    padding: 40px;
    text-align: left;
}

.info-section h2 {
    font-size: 2.8em;
    color: #5e548e; 
    margin-bottom: 20px;
}

.info-section p {
    font-size: 1.1em;
    line-height: 1.6;
    color: #6c648b; 
}

.form-section {
    flex: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 30px;
    font-size: 0.9em;
    font-weight: 600;
    letter-spacing: 1px;
    transition: all 0.3s ease;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    width: 50%;
    align-self: center;
    background-color: #5e548e; 
    color: white;
}

button:hover {
    filter: brightness(90%);
    background-color: #7c7ca1; 
}

.form-container {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 768px) {
    .content-section {
        flex-direction: column;
    }

    .info-section, .form-section {
        width: 100%;
        padding: 30px;
    }
    
    .demo-login-btn, .toggle-form, .form-box {
        width: 90%;
    }
    
    .form-container {
        width: 90%;
    }

    button {
        width: 70%;
    }
}
