/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global styles */
body, html {
    height: 100%;
    font-family: 'Segoe UI', 'Roboto', sans-serif;
    background: #f2f2f2;
    color: #424242;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Full page content section */
.content-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
    width: 100vw; /* Full viewport width */
    padding: 40px;
    background-color: #ffffff; /* Consider making this transparent or matching the body's background */
}

/* Info section styles */
.info-section {
    flex: 1;
    padding: 40px;
    text-align: left;
}

.info-section h2 {
    font-size: 2.8em;
    color: #1a73e8;
    margin-bottom: 20px;
}

.info-section p {
    font-size: 1.1em;
    line-height: 1.6;
    color: #555;
}

/* Form section styles */
.form-section {
    flex: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


button {
    padding: 10px 20px; /* Adjust padding */
    margin-top: 20px;
    border-radius: 30px; /* Rounded edges */
    font-size: 0.9em; /* Adjust font size */
    font-weight: 600;
    letter-spacing: 1px;
    transition: all 0.3s ease;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    width: 50%; /* Decrease the width of the buttons */
    align-self: center; /* Center buttons within the form container */
}


.form-container {
    width: 80%; /* Increase the width of the login/signup form */
    margin: auto; /* Centering the form */
    display: flex;
    flex-direction: column;
    align-items: center;
}


.toggle-form:hover, .demo-login-btn:hover {
    filter: brightness(90%);
}

.demo-login-btn, .toggle-form {
    background-color: #1a73e8;
    color: white;
}

.demo-login-btn {
    background-color: #4CAF50;
}

/* Responsive styles */
@media (max-width: 768px) {
    .content-section {
        flex-direction: column;
    }

    .info-section, .form-section {
        width: 100%;
        padding: 30px;
    }
    .demo-login-btn, .toggle-form, .form-box {
        width: 90%; /* Adjust for smaller screens */
    }
    .form-container {
        width: 90%; /* Adjust for smaller screens */
    }

    button {
        width: 70%; /* Adjust button width for smaller screens */
    }
}
