.NavBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2c3e50;
    padding: 10px 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    color: #ecf0f1;
  }
  
  .NavBar h1 {
    color: #ecf0f1;
    margin: 0;
    font-size: 2em;
    font-weight: 500;
  }
  
  .nav-links-container {
    display: flex;
    align-items: center;
  }
  
  .links-nav, .links-auth {
    display: flex;
    gap: 20px;
    flex-grow: 1; /* Added to allow the links to expand */
  }
  
  .links-nav a, .links-auth a {
    color: #ecf0f1;
    text-decoration: none;
    padding: 8px 15px;
    border-radius: 4px;
    background-color: transparent;
    transition: background-color 0.3s, color 0.3s;
    font-weight: 500;
  }
  
  .links-nav a:hover, .links-auth a:hover {
    background-color: #34495e;
    color: #ecf0f1;
  }
  
  .NavBar .logout-button {
    padding: 5px 10px; /* Adjust padding if necessary */
    background-color: #cd6155;
    color: #ecf0f1;
    border-radius: 4px;
    transition: background-color 0.3s;
    /* Removed box-sizing, min-width, max-width */
  }
  
  .NavBar .logout-button .button-text {
    display: block; /* Ensure the text behaves as a block */
    max-width: fit-content; /* Fit the width to the content */
  }
  
  .NavBar .logout-button:hover {
    background-color: #b03a2e;
  }
  
  @media (max-width: 768px) {
    .NavBar {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .nav-links-container {
      flex-direction: column;
      align-items: flex-start;
      width: 100%;
    }
  
    .links-nav, .links-auth, .NavBar .logout-button {
      width: 100%;
      text-align: left;
      margin: 5px 0;
    }
  }
  