.footer-container {
  background-color: #5e548e;
  padding: 60px;
  color: #adb9c3;
  text-align: center;
  position: relative;
  font-family: Arial, sans-serif;
}

.rights {
  font-size: 18px;
  color: #adb9c3;
}