@import url('https://fonts.googleapis.com/css2?family=Inter&family=Roboto+Mono:ital,wght@0,300;1,400&display=swap');


form>.errors {
  color: red;
  font-size: 0.875em;
  height: 15px;
  display: flex;
  align-items: center;
}



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
}
